.login-page{
    h1{
        color: #2d96ff;
        font-weight: 700;
    }
    .container-fluid{
        background-image: url(/assets/wall-street.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        place-items: center;
        grid-template-rows: 15% 60%;
        grid-row-gap: 10px;
        height: 100vh;
    }

    .card{
        background: rgba(0,0,0,0);
        backdrop-filter: saturate(180%) blur(10px);
    }
}