.login-page{
    height: 100vh;
    h1{
        color: #2d96ff;
        font-weight: 700;
    }
    .container-fluid{
        background-image: url(/assets/wall-street.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        place-items: center;
        grid-row-gap: 10px;
        &.login{
            height: 100%;
        }
    }

    .card{
        background: rgba(0,0,0,0);
        backdrop-filter: saturate(180%) blur(50px);
    }
}